@model IEnumerable<WebNeighbors.Models.Person>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div>
        <h3>Форма оформления покупки</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.Id" name="Id" />
            <table>
                <tr>
                    <td><p>Введите свое имя </p></td>
                    <td><input type="text" name="PersonName" /> </td>
                </tr>
                <tr>
                    <td><p>Введите название услуги:</p></td>
                    <td><input type="text" name="ServiceName" /></td>
                </tr>
                <tr>
                    <td><p>Введите описание услуги:</p></td>
                    <td><input type="text" name="ServiceDescription" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>

    <div class="container">
        <h2>Список соседей</h2>
        <p>или чем заполнена база данных:</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Имя</th>
                    <th>Услуга</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model)
                {
                <tr>
                    <td><p>@person.Id</p></td>
                    <td><p>@person.PersonName</p></td>
                    <td><p>@person.ServiceName</p></td>
                    <td><p>@person.ServiceDescription</p></td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
