@model IEnumerable<WebNeighbors.Models.Person>
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    <div>
        <h3>Распродажа книг</h3>
        <table>
            <tr class="header">
                <td><p>ID</p></td>
                <td><p>Имя</p></td>
                <td><p>Услуга</p></td>
                <td><p>Описание</p></td>
                <td><p>Дата</p></td>
                <td></td>
            </tr>
            @foreach (var person in Model)
            {
            <tr>
                <td><p>@person.Id</p></td>
                <td><p>@person.PersonName</p></td>
                <td><p>@person.ServiceName</p></td>
                <td><p>@person.ServiceDescription</p></td>
                <td><p>@person.PostingDate</p></td>
            </tr>
            }
        </table>
    </div>


</body>
</html>
