@model IEnumerable<WebNeighbors.Models.Person>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>"Web-соседи"</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap,
            myPlacemark;

        function init() {
            myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 10
            });

            @foreach (var person in Model)
            {
                <text>
            console.log('Service = @person.ServiceName, x = @person.CoordinateX, y = @person.CoordinateY');

            myPlacemark = new ymaps.Placemark([@(person.CoordinateX), @(person.CoordinateY)], {
                hintContent: '@(person.ServiceName)',
                balloonContent: '@(person.CoordinateX), @(person.CoordinateY)'
            });
            myMap.geoObjects.add(myPlacemark);
            </text>
            }
        }
    </script>

    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>

<body>

    @Html.Partial("_Carousel")
    @Html.Partial("_ExplainBoxes")


    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="page-header">Соседи на карте <small>найди знакомых и отметь себя!</small></h2>
            </div>
            <div class="col-md-6">
                <h2 class="page-header">Ваши данные <small>присоединяйтесь к проекту!</small></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- Yandex Map -->
                <div id="map" style="width: 100%; height: 400px"></div>
            </div>
            <div class="col-md-6">
                <!-- Input form -->
                @Html.Partial("_InputData")
            </div>
        </div>
    </div>

    <!-- Table -->
    @Html.Partial("_Table")
    <br>
<div align="center">
    <form role="form" method="post" action="">
        <button type="submit" class="btn btn-default" value="cleanDatabase" name="submitButton">Очистить базу данных</button>
    </form>
</div>


</body>
</html>
